@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

/* --------------------------------
   DEFAULT COLORS (fallback)
-------------------------------- */
:root {
  --Primary: hsl(145, 63%, 42%);
  --Accent: hsl(145, 55%, 60%);
  --Bg: #e8fdf5;
  --Card: white;
  --Text: #063b2b;
}

/* --------------------------------
   THEME PRESETS
-------------------------------- */
:root[data-theme="green"] {
  --Primary: hsl(145, 63%, 42%);
  --Accent: hsl(145, 55%, 60%);
  --Bg: #e8fdf5;
  --Card: white;
  --Text: #063b2b;
}

:root[data-theme="blue"] {
  --Primary: hsl(217, 89%, 61%);
  --Accent: hsl(199, 100%, 63%);
  --Bg: hsl(210, 36%, 96%);
  --Card: white;
  --Text: #143b64;
}

:root[data-theme="purple"] {
  --Primary: hsl(296, 100%, 65%);
  --Accent: hsl(296, 85%, 79%);
  --Bg: hsl(305, 44%, 95%);
  --Card: hsl(0, 0%, 100%);
  --Text: hsl(307, 84%, 17%);
}

:root[data-theme="orange"] {
  --Primary: hsl(25, 89%, 62%);
  --Accent: hsl(15, 90%, 55%);
  --Bg: #fff4e8;
  --Card: white;
  --Text: #5e3802;
}

:root[data-theme="dark"] {
  --Primary: #1a1a1a;
  --Accent: #90905a;
  --Bg: #2e2e2e;
  --Card: #626161;
  --Text: #f1f1f1;
}


/* --------------------------------
   GLOBAL STYLES
-------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--Bg);
  color: var(--Text);
}

/* --------------------------------
   DESKTOP DEFAULT
-------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--Text);
  text-transform: uppercase;
}

.content {
  background: var(--Card);
  width: 750px;
  padding: 20px;
  border-radius: 20px;
  border-bottom-right-radius: 40%;
  position: relative;
}


/* THEME SELECTOR */

.change-theme {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--Accent);
}

.themes {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
  justify-content: center;
}

.theme-btn {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  border-bottom-right-radius: 40%;
  border: 2px solid var(--Text);
  cursor: pointer;
}


.purple {
  background: hsl(296, 100%, 65%);
}

.blue {
  background: hsl(217, 89%, 61%);
}

.green {
  background: hsl(145, 63%, 42%);
}

.orange {
  background: hsl(25, 89%, 62%);
}

.dark {
  background: #2a2a2a;
}

/* INPUT ROW */
.input {
  display: flex;
  margin-bottom: 35px;
  gap: 20px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Accent);
}

input {
  font-size: 32px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--Bg);
  outline: none;
  text-align: center;
  caret-color: var(--Primary);
}

input:focus {
  border: 1px solid var(--Primary);
}

p.error {
  font-size: 12px;
  color: var(--Accent);
  font-style: italic;
}

/* SEPARATOR */
hr {
  border: none;
  height: 1px;
  background: var(--Bg);
  margin-bottom: 30px;
}

/* BUTTON */
#calculateBtn {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: var(--Primary);
  right: 50px;
  top: 120px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* RESULT */
.result h2 {
  font-size: 34px;
  font-style: italic;
  margin-bottom: 10px;
}

.result span {
  color: var(--Primary);
}

/* --------------------------------
   MOBILE STYLES
-------------------------------- */
@media (max-width: 767px) {
  .container {
    padding: 20px;
    /* height: auto; */
  }

  .content {
    width: 100%;
    padding: 30px 20px;
    border-bottom-right-radius: 20%;
  }

  .input {
    justify-content: space-between;
    gap: 10px;
  }

  input {
    font-size: 20px;
    width: 90px;
    padding: 12px;
  }

  button {
    right: 50%;
    transform: translateX(50%);
    top: auto;
    bottom: -35px;
  }

  .result h2 {
    font-size: 34px;
  }
}